# Dependencies
node_modules/

# Build
dist/
build/

#Key files
keys/

# History files
.history/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store

# Testing
coverage/
